# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
[Mm]emoryCaptures/
Assets/StreamingAssets/aa/*/*.bin

# IDE
.vs/
.vscode/
*.csproj
*.sln
*.user
*.suo

# OS
.DS_Store
Thumbs.db